<ul class="breadcrumb">
  <li><a href="#" routerLink="/dashboard">Home</a></li>
  <li><a href="#" routerLink="/users">Users</a></li>
</ul>

<div class="header-container mat-elevation-z1" >
  <span class="header-text">
    Users
  </span>
  <div class="emp-actions">
    <button mat-icon-button class="add-user" [routerLink]="['../add-user']">
      <mat-icon class="item-icon">person_add</mat-icon>
    </button>

    <div class="search-employee" >
      <input matInput type="search"  class="search" placeholder="search employee"
      (keyup)="onFilter($event)"  >
    </div>
</div>
</div>
<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="table-style mat-elevation-z8" matSort  (matSortChange)="onSort($event)">

      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.fullname}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="personalcontactnumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight"> Mobile No. </th>
        <td mat-cell *matCellDef="let user"> {{user.personalcontactnumber}} </td>
      </ng-container>

      <ng-container matColumnDef="designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Designation </th>
        <td mat-cell *matCellDef="let user"> {{user.designation}} </td>
      </ng-container>

      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Department </th>
        <td mat-cell *matCellDef="let user"> {{user.department}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Status </th>
        <td mat-cell *matCellDef="let user" [ngStyle]="{ color: user.status === 'Active' ? 'green' : 'red' }"> {{user.status}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Action </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <hr>
    <!-- paginator -->
    <mat-paginator #paginator
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [disabled]="false"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
            [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex"
            aria-label="Select page">
    </mat-paginator>

</div>
