.emp-list{
  height: 60%;
}
.table-wrapper{
  overflow: auto;
  padding: 4px;
}

table {
  width: 100%;
}

.mat-mdc-header-row  {
  z-index: 1000;
}

.mat-sort-header-arrow {
  color: #1a1717;
}

.mat-mdc-row  {
  height: 48px !important;
}

.mat-mdc-column {
  border-right: 1px solid currentColor;
}

.mat-column-position {
  width: 32px;
  border-right: 1px solid lightgray;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  border-right: 1px solid lightgray;
  padding-right: 24px;
  text-align: center;
}

.mat-column-weight {
  border-right: 1px solid lightgray;
  padding-right: 24px;
  text-align: center;
}

.header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  justify-content: space-between;
  height: 48px;
  background-color: white;
  z-index: 99999;
  top: 0;
  overflow: hidden;
  margin: 4px
}

.header-text{
 padding-left: 8px;
 font-weight: 600 ;
}

.add-user{
  cursor: pointer;
}

.emp-actions{
  display: flex;
  align-items: center;

  .search{
    height: 32px;
    padding: 0px 8px;
  }
}

ul{
  padding-inline-start: 10px;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
