html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dbdee4;
}

.custom-tooltip {
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  outline: none;
  background-color: #edeeef !important;
}

.item-icon {
  color: #3f51b5;
}

.green-snackbar {
  background-color: green;
  color: white;
}

.red-snackbar {
  background-color: red;
  color: white;
}
